{% extends "main.html" %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}

                <div class="form-group">
                    <label for="post_text">Survey Name</label>
                    <input type="text" name="survey_name" class="form-control">
                </div>

                <div class="form-group">
                    <label for="post_text">Send Date/Time</label>
                    <input  name="datetime" id="datetime" class="form-control">
                </div>
                <div class="form-group">
                    <label for="post_text">Description</label>
                    <textarea name="description" class="form-control"></textarea>
                </div>
                <input type="hidden" name="for_type" value="both">
                <div class="form-group">
                    <label for="post_text">Options</label>
                    <textarea name="options" class="form-control" placeholder="e.g. question 1?$option 1|option 2|option3...,question2$option 1...."></textarea>
                </div>
                <div class="form-group">
                    <label>Send to</label>
                    <div class="row">
                        <div class="col">
                            <label>
                                <input type="hidden" value="users" name="send_to"/>
                                <select class="form-control" multiple name="target_users">
                                    {% for user in users %}
                                        <option value="{{ user.id }}">{{ user.name }} in {{ user.type }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
{% endblock %}